* {
  box-sizing: border-box;
}
:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.poppins-font {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
}
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}
